@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header > h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header > img {
    display: block;
    margin: auto;
    width: 500px;
}

.container {
    display: flex;
    justify-content: center;
}

ul {
   text-align: left;
   padding: 5px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}