@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header > h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header > img {
    display: block;
    margin: auto;
    width: 500px;
}

ul {
    display: block;
    text-align: center;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
}

a {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}