@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header > h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header > img {
    width: 500px;
}

ul {
    text-align: center;
}