@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header > h1 {
    background-color: #18B0E0; 
    color:  #d52161;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header > img {
    display: block;
    margin: auto;
    width: 500px;
}

.container {
    display: flex;
    justify-content: center;
}

ul {
   text-align: left;
   padding: 10px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    list-style: none;
}

a {
    text-decoration: none;
    background-color: #18B0E0;
    padding: 5px;
    border-radius: 5px;
    color: #d52161;
}

a:hover {
    text-decoration: underline;
    background-color: #d52161;
    color: #18B0E0;
}